@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --orange: #f28f3b;
    --white: #fff;
    --darkgrey: #282c34;
    --grey: grey;
}

body{
    min-height: 100hv;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
   position: fixed;
   width: 250px;
   height: 100%;
   background: var(--orange);
   border-left: 10px solid var(--orange);
   transition: 0.5s;
   overflow: hidden;
}

.navigation.active{
    width: 75px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navigation ul li:hover{
    background: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a{
    color: var(--orange);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 65px;
    text-align: center;
}

.navigation ul li a.icon ion-icon{
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */

.navigation ul li:hover a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 20%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 20%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* main */
.main
{
  position: absolute;
  width: calc(100% - 300px);
  left: 250px;
  min-height: 10evh;
  background: var(--white);
  transition: 0.5s;
}
.main.active
{
 width: calc(100% - 75px);
 left: 80px;
}

.topbar
{
  width: 100%;
 height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle
{
  position: relative;
  width: 60px;
 height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.user
{
 position: relative;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 overflow: hidden;
 cursor: pointer;
}
.user img
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.cardBox{
 position: relative;
 width: 100%;
padding: 20px;
 display: grid;
 grid-template-columns: repeat(4,1fr);
grid-gap: 30px;
}

.cardBox .card
{
 position: relative;
 background: var(--white);
padding: 30px;
 border-radius: 20px;
 display: flex;
 justify-content: space-between;
 cursor: pointer;
 box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardBox .card .numbers{
 position: relative;
 font-weight: 500;
 font-size: 2.5em;
 color: var(--orange);
}
.cardBox .card.cardName{
 color: var(--darkgrey);
  font-size: 1.1em;
 margin-top: 5px;
}
.cardBox .card .iconBx{
 font-size: 3.5em;
 color: var(--grey);
}

.cardBox .card:hover
{
 background: var(--orange);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
 color: var(--white);
}

.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.details .recentorders{
position: relative;
display: grid;
min-height: 500px;
background: var(--white);
padding: 20px;
box-shadow: 0 7px 25px rgba(0,0,0,0.08);
border-radius: 20px;
}

.assetsdetails{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}

.assetsdetails .assets{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    }
    
    .cardHeader
{
 display: flex;
justify-content: space-between;
 align-items: flex-start;
}

.cardHeader h2{
 font-weight: 60;
 color: var(--orange);
 display: inline-flex;
}

.btn
{
 position: relative;
 padding: 5px 10px;
 float: right;
background: var(--orange);
text-decoration: none;
color: var(--white);
border-radius: 6px;
}

.recentCustomers{
 position: relative;
 display: grid;
 min-height: 500px;
 padding: 20px;
 background: var(--white);
 box-shadow: 0 7px 25px 0 rgba(0,0,0,0.08);
 border-radius: 20px;
}

.assetsdetails table
{
 width: 100%;
 border-collapse: collapse;
 margin-top: 10px;
}

.assetsdetails .assets table tr
{
 color: var(--black1);
 border-bottom: 1px solid 0 rgba(e,0,0,0.1);
}

/*now, make it responsive design */
@media (max-width: 991px)
{
  .navigation
  {
    left: -300px;
  }
  .navigation.active
  {
    width: 75px;
    left: 0;
  }
  .main
  {
    width: 100%;
    left: 0;
  }

  .main.active
    {
    left: 75px;
    }
   .cardBox
    {
    grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px)
{
  .details
  {
    grid-template-columns: repeat(1,1fr);
  }
  .recentorders
  {
    overflow-x: auto;
  }
  .status.inprogress
  {
    white-space: nowrap;
}
}

@media (max-width: 480px)
{
  .cardBox
  {
    grid-template-columns: repeat(1,1fr);
  }
   .cardHeader h2
  {
    font-size: 15px;
  }
  .user
  {
   min-width: 40px;
  }
.navigation
  {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active
    {
    width: 100%;
    left: 0;
    }
.toggle
{
 z-index: 10001;
}

.main.active .toggle{
    position: fixed;
    right: 0;
    left: initial;
    color: var(--white);
}
 
}


 
